# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# autotools stuff
aux_build/
autom4te.cache/
config.h.in
Makefile
Makefile.in
Makefile.in.in
*.sed
*.header
Rules-quot
*.sin
*.template
stamp-h1
config.log
config.status
aclocal.m4
ABOUT-NLS
intltool-*.in
*.gmo
*.mo
*.pot
m4/

# autosave files
*~
